* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Loto';
}

.side_left {
    width: 131px;
    height: 131px;
    background-color: white;
}

.subSide_right {
    display: flex;
    position: absolute;
    left: 60%;
    top: 4%;
    align-items: center;
}

.subSide_right>p {
    color: #fff;
    margin-right: 10px;
    font-size: 14px;
    position: relative;
    top: 8px;
}

::-moz-placeholder {
    color: #fff;
    font-weight: bold;
}

::placeholder {
    color: #fff;
    font-weight: bold;
}

.subSide_right>a {
    color: #fff;
    margin-right: 10px;
    font-size: 13px;
    font-weight: bolder;
    text-decoration-color: #00e1ff;
}

.subSide_right>a:hover {
    color: #fff;
    text-decoration: none;
}

.subSide_right>input {
    height: 33px;
    width: 195px;
    background-color: #1b34d6;
    text-align: center;
    box-sizing: border-box;
    border: none;
    position: relative;
    left: 25px;
}


header {
    width: auto;
    background-color: #005eff;
    height: 131px;
}

nav {
    position: relative;
    left: 38em;
    bottom: 3em;
}

nav>ul {
    display: flex;
}

nav ul li {
    list-style: none;
    font-size: 14px;
    width: 130px;
    height: 38px;
    position: relative;
    text-align: center;
    display: block;
}

nav>ul>li:hover {
    border-bottom: 5px solid;
    border-bottom-color: #1b3bcc;
    animation: width 1s ease;
}

/* @keyframes width{
    0%{border-bottom-color: #f0f8ff;}
    100%{border-bottom-color: #1b3bcc;}
} */

nav>ul>li:hover>a {
    text-decoration: none;
    color: #fff;
}

nav>ul>li>a {
    color: #fff;
    font-weight: bolder;
}

.onfocus {
    border-bottom: 4px solid;
    border-bottom-color: #14d3ec;
}

.no-line {
    text-decoration: none;
}

.slide_bande {
    background-color: #1b3bcc;
    height: 50px;
}

.slide_bande div a {
    position: relative;
    top: 14px;
    left: 14px;
    font-size: 12.5px;
    color: #fff;
    font-weight: bolder;
    text-decoration-color: #00e1ff;
}

.slide_bande>div>a:hover {
    text-decoration: none;
    color: #fff;
}

.slide_bande>p {
    position: relative;
    left: 6.5em;
    font-size: 12px;
    color: #fff;
    bottom: 6px;
}

.no_ancre {
    text-decoration: none;
}

.global-unilever {
    background: #1bcce4;
    height: 447px;
}

.img-logo1 > img {
    height: 430px;
    position: relative;
    left: 40em;
    bottom: 20em;
}

.unilever-div {
    width: 39%;
    align-items: center;
    color: #1b34d6;
    margin-left: 4em;
    position: relative;
    top: 4em;
}

.unilever-div h1 {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.unilever-div p {
    font-size: 20px;
    font-weight: 700;
}

.text{
    line-height: 2em;
    height: 300px;
    width: 550px;
    margin-left: 30%;
}
.text p{
    font-size: 17px;
    color: gray;
}

.text a{
    font-size: 19px;
    color: #8a078f;
    font-weight: bolder;

}

.text h1{
    font-size: 30px;
    font-weight: 700;
    color: #1b34d6;
}
.foo-first {
    background: #001f82;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    margin-top: 2em;
}
.foo-icon {
    margin: 0em 0.8em;
}
.foo-icon > a > img {
    height: 2em;
}
.foo-first > :nth-child(3){
    margin-left: 5em
}
.foo-second {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5em;
    margin: 0em 10em;
}
.foo-second-social {
    display: flex;
    margin: 2em 0em;
}
.foo-second-social > :nth-child(1){
    margin-left: 0em !important;

}
.subtitle-primary {
    color: #005eff;
    font-size: 2em;
    font-family: candal;
}
.paragraph{
    margin: 1em 0em;
    font-family: Jura;
    color: #73706e;
    font-size: 1em;
}
.foo-third {
    padding: 1em;
    background: #005eff;
    display: grid;
    grid-template-columns: 60% 40%;
    color: white;
    padding-left: 8em;
    padding-bottom: 5em;
}
.foo-sub-first > div {
    margin: 2em;
    font-family: 'Candal';
    margin-left: 0!important;
    width:60%;
}
.foo-logo-label{
    font-size: 2em;
}
.foo-first > :nth-child(2){
    font-family: Rubik;
}
.footer-third-link {
    font-weight: bold;
    color: white;
    text-decoration: underline;
    margin-right: 1em;
    margin-top: 3em;
}
.link-foo-group-sub{
    margin: 1em 0em;
}
.foo-logo-char {
    display: flex;
}
.foo-logo-char > i {
    font-size: 0.9em;
}
.foo-second-bloc {
    width: 30em;
}
.foo-location {
    margin-top: 1em;
    font-size: 0.9em;
}
.foo-join {
    padding: 1em;
    width: auto;
    background: #77ddf5;
    color: #7801bd;
    font-family: 'Candal';
    text-align: center;
}
.foo-join-master{
    display: flex;
    cursor: pointer;
}
.foo-join-icon{
    width: 2em !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid white;
}
.foo-join-icon > img {
    height: 1em;
}
.foo-sub-second{
    position: relative
}
.foo-sub-second > img {
    height: 25em;
    position: absolute;
    bottom: -80px;
    right:0px
}


